.dashboard {
  width: 100%;
  height:87%;
  overflow: auto;
  background-color: #f5f5f5;
}

.carousel {
  display: grid;
}


.grid-container {
  display: grid;
  gap: 1.875rem;
  grid-template-columns: auto auto auto auto;
  padding: 0.625rem;
  width: 100%;
}

.grid-containerr1 {
  display: flex;
  
  /* gap: 1.875rem; */
  position: relative;
  padding-left: 0.625rem;
   padding-right: 0.625rem;
  /* grid-template-columns: auto auto; */
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #f5f5f5;
}
.grid-container1 {
  display: grid;
  /* gap: 1.875rem; */
  /* grid-template-columns: auto auto; */
  /* padding-right: 0.625rem; */
  width: 100%;
}

.grid-container2 {
  /* display: grid; */
  /* gap: 1.875rem; */
  /* grid-template-columns: auto auto; */
  /* padding-right: 0.625rem; */
  width: 100%;
}

.grid-item1 {
  background-color: white;
  border: 1px solid gray;
  height: 250px;
  width: 98%;
  height: 66%;
  overflow: hidden;
}
.grid-item2 {
  background-color: white;
  border: 1px solid gray;
  height: 250px;
  width: 100%;
  height: 66%;
  overflow: hidden;
}

.grid-item {
  background-color: white;
  border: 1px solid gray;
  height: 150px;
  width: 100%;
  overflow: hidden;
}
.grid-itemm {
  padding: 10px;
}

.boxinfo{
  height: 50px;
}

.chart {
  width: 300px;
  height: 100px;
  overflow: hidden;
}

.title {
  font-size: 15px;
  color: white;
}
.border {
  padding: 5px;
}

.grid-containerr {
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: #f5f5f5;
}

.bot-chat {
  position: fixed;
  bottom: 1.25em;
  right: 1.875em;
  cursor: pointer;
 
}
.botpopup {
  border-radius: 50%;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px; background-color: dodgerblue;
  border: solid dodgerblue;
}
